<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- Mapbox/Turf js -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" title="bootstrap">
    <link rel="stylesheet" type="text/css" href="static/global_style.css">
</head>

<h1>Home</h1>
<div class="images">
    <img src="static/img/Geo.jpg" alt="Geomatics Engineering Logo" height="200" width="auto">
    <img src="static/img/Schulich.jpg" alt="Schulich Logo" height="200" width="auto">
</div>

<p>Welcome to my website for ENGO551 lab 4!</p>

<h1>Clinic Search</h1>

<body>
    <!-- Create and display map -->
    <div id="map" style="height:600px; margin-left:10px; margin-right:10px; margin-bottom:10px;">
        <nav id="menu" style="top:50px;"></nav>
        <nav id="basemenu">
            <input id="streets" type="radio" name="bmtoggle" value="streets" checked="checked" />
            <label for="street">Street View&nbsp;&nbsp;</label>
            <input id="dark" type="radio" name="bmtoggle" value="dark" />
            <label for="dark">Dark Mode&nbsp;&nbsp;</label>
            <input id="sat" type="radio" name="bmtoggle" value="satellite" />
            <label for="satellite">Satellite View&nbsp;&nbsp;</label>
        </nav>

    </div>



    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [-114.0719, 51.0447], // starting position calgary
            zoom: 12 // starting zoom
        });

        // add satellite layer
        map.on('load', function() {
            map.addLayer({
                id: 'satellite',
                source: {
                    "type": "raster",
                    "url": "mapbox://mapbox.satellite",
                    "tileSize": 256
                },
                type: "raster",
                layout: {
                    "visibility": "none"
                }
            });
        });

        // add dark layer
        map.on('load', function() {
            map.addLayer({
                id: 'dark',
                source: {
                    "type": "raster",
                    "url": "mapbox://mapbox.dark",
                    "tileSize": 256
                },
                type: "raster",
                layout: {
                    "visibility": "none"
                }
            });
        });

        // add schools
        map.on('load', function() {
            map.addLayer({
                id: 'Schools',
                type: 'symbol',
                source: {
                    type: 'geojson',
                    data: 'https://data.calgary.ca/resource/fd9t-tdn2.geojson'
                },
                layout: {
                    'icon-image': 'school-15',
                    'icon-allow-overlap': true
                },
                paint: {}
            });
        });


        map.addControl(new mapboxgl.FullscreenControl()); // map fullscreen button
        map.addControl(new mapboxgl.NavigationControl(), 'top-left'); // map navigation control

        // toggle between basemaps
        var layerList = document.getElementById('basemenu');
        var inputs = layerList.getElementsByTagName('input');

        function switchLayer(layer) {
            console.log('Toggle sat');
            var layerId = layer.target.id;
            if (layerId == "sat") {
                map.setLayoutProperty('satellite', 'visibility', 'visible');
                map.setLayoutProperty('dark', 'visibility', 'none');
            } else if (layerId == "dark") {
                map.setLayoutProperty('satellite', 'visibility', 'none');
                map.setLayoutProperty('dark', 'visibility', 'visible');
            } else {
                map.setLayoutProperty('satellite', 'visibility', 'none');
                map.setLayoutProperty('dark', 'visibility', 'none');
            }
        }

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].onclick = switchLayer;
        }

        // toggle for icon layers
        var toggleableLayerIds = ['Schools'];

        for (var i = 0; i < toggleableLayerIds.length; i++) {
            var id = toggleableLayerIds[i];
            var link = document.createElement('a');
            link.href = '#';
            link.className = 'active';
            link.textContent = id;

            link.onclick = function(e) {
                var clickedLayer = this.textContent;
                e.preventDefault();
                e.stopPropagation();

                var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
                console.log('Toggle Schools');

                if (visibility === 'visible') {
                    map.setLayoutProperty(clickedLayer, 'visibility', 'none');
                    this.className = '';
                } else {
                    this.className = 'active';
                    map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
                }
            };

            var layers = document.getElementById('menu');
            layers.appendChild(link);
        }
    </script>
</body>