<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- Mapbox/Turf js -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" title="bootstrap">
    <link rel="stylesheet" type="text/css" href="static/global_style.css">
</head>

<h1>Home</h1>
<div class="images">
    <img src="static/img/Geo.jpg" alt="Geomatics Engineering Logo" height="200" width="auto">
    <img src="static/img/Schulich.jpg" alt="Schulich Logo" height="200" width="auto">
</div>

<p>Welcome to my website for ENGO551 lab 4!</p>

<h1>Clinic Search</h1>

<body>
    <!-- Create and display map -->
    <div id="map" style="height:600px; margin-left:10px; margin-right:10px; margin-bottom:10px;">
        <nav id="menu" style="top:50px;"></nav>
        <nav id="basetoggle">
            <div style="text-align: center; margin-bottom: -10px; padding: 10px 10px; border-radius: 3px;">
                <form style="display: inline-block;">
                    <label class="radio-inline">
                  <input type="radio" name="basemap" value="street" checked>Street View&nbsp;&nbsp;
                </label>
                    <label class="radio-inline">
                  <input type="radio" name="basemap" value="sat">Satellite View
                </label>
                </form>
            </div>
        </nav>
    </div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [-114.0719, 51.0447], // starting position calgary
            zoom: 12 // starting zoom
        });

        map.on('load', function() {
            map.addLayer({
                id: 'Schools',
                type: 'symbol',
                source: {
                    type: 'geojson',
                    data: 'https://data.calgary.ca/resource/fd9t-tdn2.geojson'
                },
                layout: {
                    'icon-image': 'school-15',
                    'icon-allow-overlap': true
                },
                paint: {}
            });
        });


        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl(), 'top-left');

        var toggleableLayerIds = ['Schools'];

        for (var i = 0; i < toggleableLayerIds.length; i++) {
            var id = toggleableLayerIds[i];

            var link = document.createElement('a');
            link.href = '#';
            link.className = 'active';
            link.textContent = id;

            link.onclick = function(e) {
                var clickedLayer = this.textContent;
                e.preventDefault();
                e.stopPropagation();

                var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

                if (visibility === 'visible') {
                    map.setLayoutProperty(clickedLayer, 'visibility', 'none');
                    this.className = '';
                } else {
                    this.className = 'active';
                    map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
                }
            };

            var layers = document.getElementById('menu');
            layers.appendChild(link);
        }


        // street layer (default)
        // var street = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        //     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        //     maxZoom: 18,
        //     id: 'mapbox/streets-v11',
        //     tileSize: 512,
        //     zoomOffset: -1,
        //     accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg'
        // }).addTo(mymap);
        // // satellite layer
        // var sat = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        //     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        //     maxZoom: 18,
        //     id: 'mapbox/satellite-v9',
        //     tileSize: 512,
        //     zoomOffset: -1,
        //     accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg'
        // });

        // var layers = {
        //     'Basic Street View': street,
        //     'Satellite View': sat,
        // };
        // var overlay = {
        //     //'Traffic Incident Heatmap': traffic,
        //     //'*New and Improved* Traffic Incident Heatmap': traffic_new
        // };
        // // display map
        // L.control.layers(layers, overlay).addTo(mymap);
    </script>
</body>