<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" title="bootstrap">
    <link rel="stylesheet" type="text/css" href="static/global_style.css">
</head>

<h1>Home</h1>
<div class="images">
    <img src="static/img/Geo.jpg" alt="Geomatics Engineering Logo" height="200" width="auto">
    <img src="static/img/Schulich.jpg" alt="Schulich Logo" height="200" width="auto">
</div>

<p>Welcome to my website for ENGO551 lab 3!</p>

<h1>Permit Search</h1>

<body>
    <!-- date range widget -->
    <table>
        <tr>
            <td>
                <input type="text" name="daterange" id="daterange" value="" style="margin-left: 10px; margin-bottom: 20px; width: 200px;" />
            </td>
            <td>
                <p id="PageResponse" style="margin-top: -10px; text-align: left;"></p>
            </td>
        </tr>
    </table>

    <script>
        var markers = L.markerClusterGroup({
            spiderfyOnMaxZoom: true,
            showCoverageOnHover: true,
            zoomToBoundsOnClick: true
        });
        // get date range from widget
        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                // build JSON query
                var query = "issueddate > '" + start.format('YYYY-MM-DD') + "' and issueddate < '" + end.format('YYYY-MM-DD') + "'";
                console.log(query);
                // get GeoJSON response using axios, store into CalgaryFeatures
                var CalgaryFeatures;
                axios.get('https://data.calgary.ca/resource/c2es-76ed.geojson', {
                        params: {
                            $where: query
                        }
                    })
                    // after response is received
                    .then(function(CalgaryFeatures) {
                        //console.log(CalgaryFeatures);
                        console.log(CalgaryFeatures.data.features.length); // send # of features to the console

                        // add GeoJSON to map
                        markers.clearLayers(); // remove old markers first
                        //var features = new L.geoJSON(CalgaryFeatures.data.features);
                        //console.log(features);
                        var nulls = 0;
                        var count = 0;
                        for (var i = 0; i < CalgaryFeatures.data.features.length; i++) {
                            var a = CalgaryFeatures.data.features[i];
                            //console.log(i);
                            //console.log(a);
                            var geometry = a.geometry;
                            if (geometry == null) {
                                console.log('null geometry');
                                nulls++;
                                continue;
                            }
                            var marker = L.marker(new L.LatLng(geometry.coordinates[1], geometry.coordinates[0]));
                            var popupstr = "<table><tr><td>Issue Date:</td><td>" +
                                a.properties.issueddate +
                                "</td></tr><tr><td>Work Class Group:</td><td>" +
                                a.properties.workclassgroup +
                                "</td></tr><tr><td>Contractor Name:</td><td>" +
                                a.properties.contractorname +
                                "</td></tr><tr><td>Community Name:</td><td>" +
                                a.properties.communityname +
                                "</td></tr><tr><td>Original Address:</td><td>" +
                                a.properties.originaladdress +
                                "</td></tr></table>";
                            marker.bindPopup(popupstr);
                            markers.addLayer(marker);
                            count++;
                        }
                        // display # of responses to user
                        var PageResponsestr = CalgaryFeatures.data.features.length + ' permits found within the selected date range.';
                        if (nulls > 1) {
                            PageResponsestr += ' ' + nulls + ' have no location data and cannot be displayed';
                        } else if (nulls > 0) {
                            PageResponsestr += ' ' + nulls + ' has no location data and cannot be displayed';
                        }

                        document.getElementById("PageResponse").innerHTML = PageResponsestr;
                        console.log(count);

                        //markers.addLayer(features);
                        mymap.fitBounds(markers.getBounds()); // zoom to show all markers
                        markers.addTo(mymap); // add new markers
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            });
        });
    </script>

    <!-- Create and display map -->
    <div id="mapid" style="height:600px; margin-left:10px; margin-right:10px; margin-bottom:10px; resize: vertical;"></div>

    <script>
        // map centered on calgary
        var mymap = L.map('mapid').setView([51.0447, -114.0719], 12);
        // street layer (default)
        var street = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg'
        }).addTo(mymap);
        // satellite layer
        var sat = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/satellite-v9',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg'
        });
        //Basic traffic incident layer
        var traffic = L.tileLayer('https://api.mapbox.com/styles/v1/{username}/{styleID}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            username: 'wynandtredoux',
            styleID: 'ck7makkyj0k8f1jm2ciezqii2',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGU5bmwwMWQxM2dwMTdveXF2cTQ2In0.KWTf4vgwgq60Px7gP9eaBQ'
        });

        // new street view
        var street_new = L.tileLayer('https://api.mapbox.com/styles/v1/{username}/{styleID}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            username: 'wynandtredoux',
            styleID: 'ck7p4sz2a08x51io79sstt3gt',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGU5bmwwMWQxM2dwMTdveXF2cTQ2In0.KWTf4vgwgq60Px7gP9eaBQ'
        });

        // new heatmap
        var traffic_new = L.tileLayer('https://api.mapbox.com/styles/v1/{username}/{styleID}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            username: 'wynandtredoux',
            styleID: 'ck7p50k4t06681imovjajgjpk',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGU5bmwwMWQxM2dwMTdveXF2cTQ2In0.KWTf4vgwgq60Px7gP9eaBQ'
        });

        var layers = {
            'Basic Street View': street,
            '*New and Improved* Street View': street_new,
            'Satellite View': sat,
        };
        var overlay = {
            'Traffic Incident Heatmap': traffic,
            '*New and Improved* Traffic Incident Heatmap': traffic_new
        };
        // display map
        L.control.layers(layers, overlay).addTo(mymap);

        // markers.on('click', function(a) {
        //     console.log(a);
        // });
    </script>
    <p style="text-align: right; margin-right: 10px;">The map can be vertially resized by dragging the bottom right corner!</p>
    <div class="padding" style="margin-top: 150px;"></div>
</body>